<meta name="viewport" content="width= device-width initail-scale=1" />
<body class="dash-body nav-sm" id="dash">
    <div class="container body">
        <div class="main_container">
            <%= render partial: "layouts/left_col", :locals => {active: "User"} %>
            <div class="right_col" >
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h4 class="title_panel"> Password Settings </h4>
                            </div>
                            <div class="x_content">
                                <div class="row">
                                      <div class="updatePassword">
                                        <%= form_for @password, url: password_path do |f| %>
                                            <fieldset>
                                                <div class="current_password">
                                                    <%= f.password_field :current_password, class:"updatePasswordField", placeholder:"current password" %>
                                                </div> 
                                                <div class="newPassword">
                                                    <%= f.password_field :new_password, class:"updatePasswordField", placeholder:"new password"%>
                                                </div>
                                                <div class="confirmPassword">
                                                    <%= f.password_field :confirm_password, class:"updatePasswordField", placeholder: "confirm password"%>
                                                </div>
                                                <div class="SubmitPassword">
                                                    <%= f.submit "Update", class:"PasswordSubmit" %>
                                                </div>
                                            </fieldset>   
                                        <% end %>
                                      </div>
                                </div>
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
</body>  
 