<div class="col-md-3 left_col" id="menu-bar">
<div class="left_col scroll-view">
    <div class="navbar nav_title" id="panel1">
        
        <%= link_to dash_path, class:"site_title" do %>
            <%= image_tag "spiderman.png", class:"brand-logo"%>
        <% end %>
        
    </div>
    <div class="clearfix">
    
    </div>
    <div id="sidebar-menu" class="main_menu_side hidden_print main_menu">
        <div class="menu_section active">
            <ul class="nav side-menu">
                <li class="<%= 'active' if active == 'Dashboard'  %>">
                    <%= link_to dash_path do %>
                        <i class="fa fa-home"></i>
                        Dashboard
                    <% end %>
                </li>
                <li class="<%= 'active' if active == 'Activity'  %>">
                    <%= link_to activity_path do %>
                        <i class="fa fa-superpowers" aria-hidden="true"></i>
                        Activity
                    <% end %>
                </li>
                <li class="<%= 'active' if active == 'Data'  %>">
                    <%= link_to data_path do %>
                        <i class="fa fa-pie-chart"></i>
                        Data
                    <% end %>
                </li>
                <li class="<%= 'active' if active == 'User'  %>">
                    <%= link_to profile_path do %>
                        <i class="fa fa-user" aria-hidden="true"></i>
                        User
                    <% end %>
                </li>
            </ul>    
        </div>
    </div>
</div>
</div>
